{% load static %}
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container justify-content-between">
          <!-- Left elements -->
          <div class="d-flex">
            <!-- Brand -->
            <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
              <img
                src="{% static 'images/navbarlogo.png' %}"
                height="30"
                alt="instagram Logo"
                loading="lazy"
                style="margin-top: 2px;"
                class="navbarlogo"
              />
            </a>
      
          
          </div>
          <!-- Left elements -->
      
          <!-- Center elements -->
    
            <!-- Search form -->
            
    
              <ul class="navbar-nav flex-row m-auto me-5">
                <form class="input-group w-auto my-auto d-none d-sm-flex">
                    <input
                      autocomplete="on"
                      type="search"
                      class="form-control rounded"
                      placeholder="Search"
                      style="min-width: 125px;background-color:#efefef; border-radius:10px; border:none;max-width: 605px;"
                    />
                    <span class="input-group-text border-0 d-none d-lg-flex"
                      ></i
                    ></span>
                  </form>
                
                <li class="nav-item me-3 me-lg-3">
                  <a class="nav-link" href="#">
                    <span><i class="fa-solid fa-house fafa"></i></i></span>
                  </a>
                </li>
                <li class="nav-item dropdown me-3 me-lg-3">
                  <a
                    class="nav-link dropdown-toggle hidden-arrow"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                  >
                  <i class="fa-brands fa-facebook-messenger fafa"></i>
          
                    <span class="badge rounded-pill badge-notification bg-danger">6</span>
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    <li>
                      <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown me-3 me-lg-3">
                  <a
                    class="nav-link dropdown-toggle hidden-arrow"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                  >
                  <i class="fa-regular fa-square-plus fafa"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">12</span>
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    <li>
                      <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown me-3 me-lg-3">
                  <a
                    class="nav-link dropdown-toggle hidden-arrow"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                  >
                  <i class="fa-regular fa-compass fafa"></i>
                  </a>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdownMenuLink"
                  >
                    <li>
                      <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
    
                <li class="nav-item dropdown me-3 me-lg-3">
                    <a
                      class="nav-link dropdown-toggle hidden-arrow"
                      href="#"
                      id="navbarDropdownMenuLink"
                      role="button"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false"
                    >
                    <i class="fa-regular fa-heart fafa"></i>
                    </a>
                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="navbarDropdownMenuLink"
                    >
                      <li>
                        <a class="dropdown-item" href="#">Some news</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Another news</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </li>
                    </ul>
                  </li>
                <li class="nav-item me-3 me-lg-1">
                    <a class="nav-link dropdown-toggle hidden-arrow"
                    href="#"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
                        class="rounded-circle"
                        height="30"
                        alt="Black and White Portrait of a Man"
                        loading="lazy"
                      />
                      
                    </a>
                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      aria-labelledby="navbarDropdownMenuLink"
                    >
                      <li>
                        <a class="dropdown-item" href="#">Some news</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Another news</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </li>
                    </ul>
                  </li>
              </ul>
              <!-- Right elements -->
      
          <!-- Right elements -->
         
        </div>
      </nav>
      <!-- Navbar -->
    
    