

.form-area{
    background-color: ffffff;
   
    
}

.mainlogo{
    width:14vw ;
    height: 8vh;
   
}


.facebooktxt{
    color: #375184;
}

.consent{
    font-size: 12px;
}







@media screen and (max-width: 600px) {
    .phonediv {
      display: none;
    }
    .mainlogo{
        width:auto ;
        margin-left: 5px;
    }
  }