*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.fafa{
    font-size: 21px;
    color: rgba(20, 19, 19, 0.887);
}

.scrolling-wrapper{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 12vh;
   
    width: auto;
    -webkit-overflow-scrolling: touch;
}

.royalty{
    border: 3ps solid pink;
}

@media screen and (max-width: 600px) {
 
    .navbarlogo{
        width:auto ;
        height: 28px;
        
    }
    .fafa{
        font-size: 15px;
        color: rgba(19, 18, 18, 0.887);
       
    }
    .suggested{
        display: none;
    }
  }